[submodule "extras/json"]
	path = extras/json
	url = https://github.com/nlohmann/json.git
[submodule "extras/tinyxml2"]
	path = extras/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "extras/Catch"]
	path = extras/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "extras/liblinear"]
	path = extras/liblinear
	url = https://github.com/cjlin1/liblinear.git
